body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 26px;
  font-weight: 400;
  font-size: 17px;
  color: #111;
  background-color: #eef0f1;
  padding-top: 56px;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

// background : #0a192f
// gris : #757575
// vert: #64ffda
// rose: #d400ff
// bleu: #0074de

.user-code {
  margin-top: 20px;
  margin-bottom: 20px;
  & > div {
    border: none !important;
    border-radius: 3px;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
  pre {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 150% !important;
  }
}

.user-info {
  padding: 16px;
  border-radius: 10px;
  background-color: rgba($color: #eee, $alpha: 1);
}

code {
  background-color: #ddd;
  border-radius: 3px;
  font-size: inherit;
  font-family: inherit;
}

.imbed-img {
  img {
    border-radius: 3px;
    padding: 0 16px;
    @media screen and (max-width: 600px) {
      padding: 0;
    }
  }
}

header {
  position: absolute;
  padding-top: 0px;
  top: 0;
  left: 0;
  height: 80px;
  display: flex;
  width: 100%;
  .header_container {
    max-width: 1170px;
    flex-grow: 1;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 1280px) {
      padding: 0 10px;
    }

    .logo {
      background-color: black;
      color: white;
      padding: 8px;
      border-radius: 3px;
    }

    .header_nav {
      margin-left: auto;

      .header_navitem {
        padding: 4px;
      }
    }
  }
}

// rotating text
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
  color: #000000 !important;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rotating__text {
  color: #d400ff !important;
  min-width: 210px;
  display: inline-block;
}
