body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 26px;
  font-weight: 400;
  font-size: 1.125rem;
  color: rgb(23, 23, 23);

  background-color: #eef0f1;
  padding-top: 56px;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

// background : #0a192f
// gris : #757575
// vert: #64ffda
// bleu: #0074de

header {
  position: absolute;
  padding-top: 0px;
  top: 0;
  left: 0;
  height: 80px;
  display: flex;
  width: 100%;
  .header_container {
    max-width: 1170px;
    flex-grow: 1;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 1280px) {
      padding: 0 10px;
    }

    .logo {
      background-color: black;
      color: white;
      padding: 8px;
      border-radius: 3px;
    }

    .header_nav {
      margin-left: auto;
      display: flex;
      gap: 8px;

      .header_navitem {
        padding: 4px;
        display: flex;
        align-items: center;
        gap: 8px;

        .flag {
          width: 30px;
          height: 30px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

// rotating text
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
  color: #000000 !important;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rotating__text {
  color: #3f3d56 !important;
  min-width: 210px;
  display: inline-block;
}
