.container {
  max-width: 1170px;
  margin: 0 auto 64px auto;
  @media screen and (max-width: 960px) {
    padding: 0 8px;
  }
}

.banner {
  width: 100%;
  min-height: 200px;
  padding: 64px 0;
  display: flex;
  margin-bottom: 32px;
  overflow: hidden;
  word-break: break-word;
  position: relative;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  .banner__left {
    width: 50%;
    padding-left: 16px;
    @media screen and (max-width: 600px) {
      padding-left: 0;
      margin-bottom: 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .banner__left__bonjour {
      font-size: 36px;
      margin-bottom: 32px;
    }
    .banner__left__description {
      font-size: 40px;
      font-weight: normal;
      color: rgb(112, 112, 112);
      margin-bottom: 40px;
      line-height: 40px;
      @media screen and (max-width: 960px) {
        font-size: 38px;
      }
      @media screen and (max-width: 600px) {
        font-size: 32px;
        padding: 0 16px;
      }
    }

    .banner__left__button {
      cursor: pointer;
      border-radius: 3px;
      padding: 0.7rem 2.5rem;
      border: none;
      appearance: none;
      user-select: none;
      color: rgb(255, 255, 255);
      background: #0074de;
    }
  }

  .banner__right {
    width: 48%;
    position: absolute;
    right: 0;
    height: 100%;
    @media screen and (max-width: 600px) {
      position: relative;
      width: 100%;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;

  @media screen and (max-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  .article__big {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    @media screen and (max-width: 600px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
}
